language: go
sudo: false
go:
  - master
install:
  - go get golang.org/x/tools/cmd/goimports
  - go get -v github.com/golang/lint/golint
  - go build -v ./...
script:
  - go vet ./...
  - $HOME/gopath/bin/golint ./...
  - ./bin/test
